<p [appHighlight]="'red'" [defaulColor]="'green'">
  Hover to highlight using custom directive
</p>

<div *appUnless="false">This text is displayed when isVisible is false.</div>

<ng-template #template>
  <p>template example</p>
</ng-template>

<p appTooltip="This is a tooltip">Hover for tooltip</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username</label>
    <input
      id="username"
      formControlName="username"
      appPatternValidator="^[a-zA-Z0-9]+$"
    />
    <div
      *ngIf="
        form.controls['username'].invalid && form.controls['username'].touched
      "
    >
      <div *ngIf="form.controls['username'].errors?.required">
        Username is required.
      </div>
      <div *ngIf="form.controls['username'].errors?.pattern">
        Username must be alphanumeric.
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
